* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, FiraCode, SymbolsNerdFontMono;
    font-size: 15px;
}

window#waybar {
    background-color:  rgba(43, 48, 59, 0.1);
  
    
}

window#waybar.hidden {

background-color:  rgba(43, 48, 59, 0.1);
}


window#waybar.empty {
    background-color:  rgba(43, 48, 59, 0.1);
}
window#waybar.solo {
    background-color: rgba(43, 48, 59, 0.1);
}


window#waybar.termite {
    background-color: #303030;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px;
    /* Avoid rounded borders under each button name */
    border: 1;
    border-radius: 10;

}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
   
}

/* you can set a style on hover for any module like this */
/*#pulseaudio:hover {
    background-color: #a37800;
}*/

#workspaces button {
background-color: #040404;
border-radius: 14;
border: 2px solid rgb(237, 118, 57);
color: #e6d3d0;
}

#workspaces button:hover {
background-color: #040404;
border-radius: 14;
border: 2px solid rgb(237, 118, 57);
color: #e6d3d0;
}


#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #303030;
}

#clock,
#custom-quickapps,
#custom-rofi,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-power
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces 
{
   margin: 0 4px;
  color: #ffffff
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9;
}
#clock:hover {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
font-size: 15px;
background-color: #fbf9f6;
border-radius: 20;
border: 3px solid rgb(252, 219, 43);
color: #c45a5c;
}


#custom-rofi {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
font-size: 18px

}

#custom-rofi:hover {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
font-size: 20px;
background-color: #fbf9f6;
border-radius: 20;
border: 3px solid rgb(252, 219, 43);
color: #c45a5c;
}

#custom-power{
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}
#custom-power:hover {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
font-size: 15px;
background-color: #fbf9f6;
border-radius: 20;
border: 3px solid rgb(252, 219, 43);
color: #c45a5c;
}
#battery {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}

#battery:hover {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
font-size: 15px;
background-color: #fbf9f6;
border-radius: 20;
border: 3px solid rgb(252, 219, 43);
color: #c45a5c;
}
#battery.charging, #battery.plugged {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #fbf9f6;
border-radius: 20;
border: 3px solid rgb(252, 219, 43);
color: #c45a5c;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color:#c45a5c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding: 5px;
}
#power-profiles-daemon:hover {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
font-size: 15px;
background-color: #fbf9f6;
border-radius: 20;
border: 3px solid rgb(252, 219, 43);
color: #c45a5c;
}
#power-profiles-daemon.performance {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #fbf9f6;
border-radius: 20;
border: 3px solid rgb(252, 219, 43);
color: #c45a5c;
}

#power-profiles-daemon.balanced {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}

#power-profiles-daemon.power-saver {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #c94c86;
border-radius: 20;
border: 2px solid rgb(135, 27, 58);
color: #871b3a; 
}

label:focus {
    background-color: #000000;
}

#cpu {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}
#cpu:hover {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
font-size: 15px;
background-color: #fbf9f6;
border-radius: 20;
border: 3px solid rgb(252, 219, 43);
color: #c45a5c;
}
#memory {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}
#memory:hover {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
font-size: 15px;
background-color: #fbf9f6;
border-radius: 20;
border: 3px solid rgb(252, 219, 43);
color: #c45a5c;
}
#disk {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}
#disk:hover {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
font-size: 15px;
background-color: #fbf9f6;
border-radius: 20;
border: 3px solid rgb(252, 219, 43);
color: #c45a5c;
}
/*#backlight {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
} */

#network {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #fbf9f6;
border-radius: 20;
border: 3px solid rgb(252, 219, 43);
color: #c45a5c;
}
#network:hover {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
font-size: 15px;
background-color: #fbf9f6;
border-radius: 20;
border: 3px solid rgb(252, 219, 43);
color: #c45a5c;
}

#network.disconnected {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}

#pulseaudio {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}
#pulseaudio:hover {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
font-size: 15px;
background-color: #fbf9f6;
border-radius: 20;
border: 3px solid rgb(252, 219, 43);
color: #c45a5c;
}
#pulseaudio.muted {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}

#wireplumber {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}

#wireplumber.muted {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}

#custom-media {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}

#custom-media.custom-spotify {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}
#temperature:hover {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
font-size: 15px;
background-color: #fbf9f6;
border-radius: 20;
border: 3px solid rgb(252, 219, 43);
color: #c45a5c;
}
#temperature.critical {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #ea743e;
border-radius: 20;
border: 2px solid rgb(237, 0, 66);
color: #ed0042; 
}

#temperature.low{
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}

#tray {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
    border-radius:10;


}

#idle_inhibitor {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}

#mpd {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}

#mpd.disconnected {
    background-color: #1f1f1f;
}

#mpd.stopped {
    background-color: #1f1f1f;
}

#mpd.paused {
    background-color: #1f1f1f;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
background-color: #200443;
border-radius: 20;
border: 2px solid rgb(54, 26, 144);
color: #54a6e9; 
}

#language:hover {
transition-property:  color, border, background-color, font-size;
transition-duration: .3s, .2s, .3s, .3s;
font-size: 15px;
background-color: #fbf9f6;
border-radius: 20;
border: 3px solid rgb(252, 219, 43);
color: #c45a5c;
}
#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}



